

:root {
  --grey-1: rgba(209, 209, 209, 0.1);
  --white-text-30: rgba(255, 255, 255, 0.3);
  --text-white: #fff;
  --grey-2-text: rgb(128, 128, 128);
  --search-bg: rgba(18, 25, 35, 0.1);
  --opacity_background: #ffffff03;
  --line-white-015: rgba(255, 255, 255, 0.15);
  --rgba--color-1: rgba(21, 28, 38, 1);
  /* --SFProThin200: "SFProThin200";
  --SFPro: "SFPro"; */
  --RobotoFlex: "Roboto Flex";
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* *{
  outline: 1px solid red;
} */
body{
  font-family: "Roboto Flex";
  color: var(--text-white);
  background-color: rgba(18, 25, 35, 1);
  height: 200vh;
}
/* .app{
  height: 65vh;
} */
.other{
  height: 25vh;
}
.other_two_blocks{
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.info_full_width_bg{
  width: 100%;
  background: linear-gradient(180deg, rgba(28, 35, 43, 0) 0%, #1C232B 29.03%, #1C232B 66.54%, rgba(28, 35, 43, 0) 100%);
  border: 5px solid purple;
  /* outline: 10px solid purple; */
}
.celsius::after{
  content: "°";
  position: absolute;
}